# Example .env file for dwh2looker
# Rename this file to .env and fill in your details

# Path to your configuration file
dwh2looker_CONFIG_FILE=./config.json

# Optional: If you use a credentials JSON file for a prod environment, you can store it here
# GCP_PROD_CREDENTIALS_JSON='{"your_json_content": "here"}'
