{% if include %}
include: "{{ include }}"
{% endif %}

{% for view in views %}
view: +{%if view.full_view_path %}{{ view.full_view_path | replace(".", "__") }}{% else %}{{ view.name }}{% endif %} {
  # label: ""

  # ###################################################################################################################

  # DIMENSIONS

  # ###################################################################################################################

  # -------------------------------------------------------------------------------------------------------------------
  # EXAMPLE DIMENSION GROUP
  # -------------------------------------------------------------------------------------------------------------------

  # dimension: example_dimension {
  #   group_label: "Example Group Label"
  #   group_item_label: "Example Group Item Label"
  # }

  # -------------------------------------------------------------------------------------------------------------------
  # TECHNICAL FIELDS
  # -------------------------------------------------------------------------------------------------------------------
  # Technical fields should always be hidden and need to have the access grant can_view_development_data.

  # dimension: example_technical_dimension {
  #   # THIS FIELD CONTAINS ACCESS GRANTS
  #   required_access_grants: [can_view_development_data]
  #   group_label: "Technical Fields (Only Dev)"
  #   tags: ["Development Data"]
  # }

  # ###################################################################################################################

  # PARAMETERS

  # ###################################################################################################################

  # ###################################################################################################################

  # MEASURES

  # ###################################################################################################################

  # -------------------------------------------------------------------------------------------------------------------
  # DIMENSIONS USED FOR MEASURES
  # -------------------------------------------------------------------------------------------------------------------
  # Dimensions used for measures should always be hidden.

  # -------------------------------------------------------------------------------------------------------------------
  # EXAMPLE MEASURE GROUP 1
  # -------------------------------------------------------------------------------------------------------------------

  # ###################################################################################################################

  # SETS

  # ###################################################################################################################

  # set: example_set {
  #   fields: [
  #     example_dimension,
  #     example_dimension_2
  #   ]
  # }
}{{'\n'}}
{% endfor %}